.sidebar-item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.make-me-sticky {
  position: sticky;
  top: var(--gcc-navbar-height);
}

.red-button {
  background-color: #c70039;
  border: none;
}

.red-button:hover {
  background-color: #900c3f;
}

.region_checkboxes {
    max-width: min(75vw, 600px);
}
.region_checkboxes > .form-check-inline {
    width: 200px;
}
