{% extends 'gccsite/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/events/events.css' %}" />
{% endblock %}

{% block content %}
{% for msg in messages %}
<div class="mt-2 alert alert-{{msg.level_tag}}" role="alert">
  {{msg.message}}
</div>
{% endfor %}
{# Home illustration #}
<div class="home-banner">
  <div class="row h-100 mh-75 pb-4 align-items-center justify-content-center container-fluid">
    <div class="col-xl-5 col-md-6 home-title col">
      <div class="mb-5 text-center">
        <img class="img-fluid mb-3" src="{% static 'img/logo_gcc_blacktext.png' %}" style="width: 50vh; max-width: 500px>
      </div>
      <span style="background-color: white;">
        <h1>Stages <strong>gratuits</strong> d'initiation à l'informatique pour collégiennes et lycéennes.</h1>
      </span>
    </div>
  </div>
</div>


{# Event list #}
{% include 'events/partial/event_list.html' %}

{# Partners: mis en avant #}

{% include 'partners/partial/partners_carousel.html' with status="avant" %}

{# Newsletter #}
<div class="newsletter-background text-center container-fluid">
  <div class="row justify-content-center">
    <div class="mt-5 col-md-8">
      <h1>S'inscrire à la newsletter</h1>
      <h3>Pour être tenu au courant de nos prochains évènements.</h3>
      {% include 'pages/partial/Newsletter.html' %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/forms/application_form.js'%}"></script>
{% endblock %}
