{% extends 'gccsite/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/events/events.css' %}">
{% endblock %}

{% block content %}

<div class="basic-background candidatures-background">
  <div class="container-fluid me-xl-5">
    <div class="col-auto offset-xl-3 items-align-center px-1 px-sm-4 rounded bg-white" style="--bs-bg-opacity: 0.9">
      <div class="row pt-2 mt-5">
          <h1 class="col text-center text-center text-sm-start">
            Candidature{{ applications|length|pluralize:"s" }}
          </h1>
          <div class="col-12 col-sm-auto d-flex d-sm-block justify-content-center">
            <a class="btn btn-primary py-2"
              href="{% url 'events:events' %}"
              >
              Voir tous les stages
            </a>
          </div>
      </div>
      <div class="row mt-3">
        {% if applications|length != 0 %}
        {% regroup applications by event as event_list %}
        <div>
          {% for event in event_list %}
            {% with event.list|first as application %} {# Get the actual event object to fetch its informations #}
              {% include 'events/partial/event_applications_card.html' with event=application.event event_applications=event.list %}
            {% endwith %}
          {% endfor %}
        </div>
        {% else %}
        <h2>Vous n'avez pas de candidature active</h2>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
