{% extends 'gccsite/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/events/events.css' %}">
{% endblock %}

{% block content %}

<div class="candidatures-background">
  <div class="me-xl-5 m-5">
    <div class="col-auto offset-xl-3">
      <div class="row mt-5">
        <h1 class="col">Candidature(s)</h1>
        <a href="{% url 'events:home' %}" class="col-auto btn btn-primary py-2">
          S'inscrire à un stage
        </a>
      </div>
      <div class="row mt-3">
        {% include 'events/partial/ApplicationsList.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
