{% extends "gccsite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block form %}
    {% crispy form %}
{% endblock form %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock head %}

{% block content %}
    <div class="auth-background">
        <div class="container-fluid">
            <div class="row justify-content-center mt-4">
                <div class="col-11 ">
                    <h1>Création d'un profil candidatures</h1>

                    {% crispy form %}
                    <div class="fst-italic fs-footnote">
                        Les champs avec un astérisque
                        <span class="asteriskField">*</span>
                        sont à remplir obligatoirement.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'js/forms/profile_create_form.js'%}"></script>
{% endblock scripts %}
