{% extends "gccsite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block form %}
    {% crispy form %}
{% endblock form %}

{% block content %}
    <div class="basic-background candidatures-background">
        <div class="container-fluid">
            <div class="row justify-content-center mt-4">
                <div class="col-11 ">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h1>Mes profils candidatures</h1>
                        <a href="{% url 'profiles:profiles_create' %}"
                           class="btn btn-primary"
                           role="button">Nouveau Profil</a>
                    </div>

                    {% for entry in object_list %}
                        <div class="row m-2 p-2 border rounded-3 align-items-center justify-content-between bg-white {{ class }}">
                            <div class="col-md m-2">
                                <div class="d-flex align-items-center">
                                    <span class="fs-4 pe-2">La participante:</span>
                                </div>
                                {# Name #}
                                <div class="d-flex align-items-center">
                                    <span class="fs-4 fw-bold pe-2">{{ entry.first_name | title }} {{ entry.last_name | title }}</span>
                                </div>

                                {# Email #}
                                <div class="row">
                                    <div class="col-auto">
                                        <i class="far fa-regular fa-envelope"></i>
                                    </div>
                                    {{ entry.email }}
                                </div>
                            </div>
                            <div class="col-md">
                                {# Location #}
                                <div class="row">
                                    <span class="fs-4 pe-1">Le responable legal:</span>
                                    {# Name #}
                                    <div class="d-flex align-items-center">
                                        <span class="fs-4 fw-bold pe-2">{{ entry.first_name_resp | title }} {{ entry.last_name_resp | title }}</span>
                                    </div>

                                    {# Email #}
                                    <div class="row">
                                        <div class="col-auto">
                                            <i class="far fa-regular fa-envelope"></i>
                                        </div>
                                        {{ entry.email_resp }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 row">
                                <a class="mb-4" href="{% url 'profiles:profile_detail' entry.id %}">
                                    <button class="btn btn-primary btn-block">Voir ce profil</button>
                                </a>
                                <form class="mt-2"
                                      href="{% url 'profiles:profile_delete' %}"
                                      action=""
                                      method="post">
                                    <button class="btn btn-danger btn-block"
                                            onclick="return confirm('Are you sure you want to delete this?')">
                                        Supprimer ce profile
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
