<div class="container-fluid p-0">
  <div class="accordion" id="ApplicationsListAccordion">
    {% for e in  application_documents %}
    <div class="accordion-item border-1">
      <h2 class="accordion-header">
        <button class="accordion-button bg-transparent text-reset shadow-none collapsed row secondary-button justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{forloop.counter}}" aria-expanded="false" aria-controls="accordion-{{forloop.counter}}">
          <div class="col row">
            <div class="col my-auto">
              <i class="fas fa-user me-2"></i>
              {{ e.first_name|title }} {{ e.last_name|title }}
            </div>
            <div class="my-auto col-sm-5 offset-sm-2 col-md-6 offset-md-0">
              <strong>Stage à {{ e.event}}</strong>
              <p class="d-none d-sm-block">Du {{ e.event.start_date|date:"l d F" }} au {{ e.event.end_date|date:"l d F Y" }}</p>
            </div>
            <div class="col d-none d-lg-block my-auto">
              {% if e.status == 3 %}
              <!-- CONFIRMED Application -->
              <i class="fa-solid fa-flag-checkered me-2 fa-2xl"></i>
              Stage terminé
              {% elif e.status == 2 %}
              <!-- CONFIRMED Application -->
              <i class="fa-regular fa-circle-check me-2 fa-2xl" style="color: #10c001;"></i>
              Acceptée et complete
              {% elif e.status == 1 %}
              <!-- ACCEPTED Application -->
              <i class="fa-regular fa-circle-check me-2 fa-2xl"  style="color: #c4c4c4;"></i>
              Candidature acceptée,
              confirmation non reçue
              {% elif e.status == 0 %}
              <!-- ENROLLED Application -->
              <i class="fa-solid fa-spinner me-2 fa-2xl"></i>
              Candidature en cours de traitement
              {% elif e.status == -1 %}
              <!-- Cancel Application -->
              <i class="fa-regular fa-hand me-2 fa-2xl" style="color: #FF0000;"></i>
              Désitée
              {% elif e.status == -2 %}
              <!-- Cancel Application -->
              <i class="fa-regular fa-hand me-2 fa-2xl" style="color: #FF0000;"></i>
              Annulé
              {% elif e.status == -3 %}
              <!-- NOT_SELECTED Application -->
              <i class="fa-regular fa-circle-xmark me-2 fa-2xl" style="color: #FF0000;"></i>
              Rejetée
              {% endif %}
            </div>
          </div>
        </button>
      </h2>
      <div id="accordion-{{forloop.counter}}" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="accordion-body">
            {% if e.status == 3 %}
            <!-- TODO: Add field in back to have the good link of flickr -->
            <p class="h6">Le stage est terminé, bravo à toi pour ta participation !<br>
            Tu peux retrouver les photos du stags sur notre <a href="https://www.flickr.com/photos/prologin/">flickr</a></p>
            {% elif e.status == 2 %}
            <!-- CONFIRMED Application -->
            <h1>Félicitation !</h1>
              Nous vous attendons le <strong>{{ e.event.start_date|date:"l d F Y" }}</strong>
            <br>
            <div class="m-3 row justify-content-around">
              <iframe class="col" src="https://maps.google.com/maps?q={{ e.event.center.address.lat|floatformat:"u" }},{{ e.event.center.address.lng|floatformat:"u" }}&hl=es;z=14&amp;output=embed"></iframe>
              <div class="row m-3 justify-content-around">
                <div class="col-md-auto row justify-content-center">
                  <div class="col-auto text-center">
                    <i class="far fa-calendar-check" style="font-size: 2em"></i>
                  </div>
                  <ul class="col m-0 p-0" style="list-style: none;">
                    <li>
                      <p class="h3">{{ e.event.start_date }}</p>
                    </li>
                    <li>
                      <p class="h3">{{ e.event.end_date }}</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-auto row justify-content-center">
                  <div class="col-auto text-center">
                    <i class="fas fa-location-dot" style="font-size: 2em"></i>
                  </div>
                  <ul class="col m-0 p-0" style="list-style: none;">
                    <li>
                      <p class="h3">{{ e.event.center.address.street }}</p>
                    </li>
                    <li>
                      <p class="h3">{{ e.event.center.address.city }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="m-4 row">
              <p class="col-auto"> Les documents suivant seront à fournir le 1er jour, si vous n’avez pas d’imprimante, des exemplaires seront disponnible sur place.</p>
              <!-- TODO : DOCUMENT GENERATOR -->
              <button class="btn primary-button py-2 col-auto">Télécharger les documents</button>
            </div>
            <div class="m-4">
              <i class="fa-sharp fa-solid fa-circle-info fa-xl"></i> Les repas sont pris en charge par l'association <br>
              <i class="fa-solid fa-circle-question fa-xl"></i> Des question ? Envoyez un mail à <strong>{{ CONTACT_EMAIL }}</strong>
            </div>
            {% elif e.status == 1 %}
            <p class="h4">
              Félicitation, tu as étée sélectionnée !
              Il faut maintenant que tu valides ta candidature pour confirmer ta venue
            </p>
            
            <div class="btn-group d-none d-sm-block text-center" role="group">
              <button type="button" class="btn btn-primary">
                Confirmer sa venue
              </button>
              <button type="button" class="btn btn-light">
                Annuler sa candidature
              </button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>