{% load static %}
{% load bootstrap_icons %}
<div class="modal-dialog modal-xl modal-dialog-centered">
  <div class="modal-content mb-1">
    <div class="modal-header mb-2 text-center" style="align-self: center;">
      <img class="" src="{% static 'img/logo_gcc.svg' %}" alt="Logo des stages Girls Can Code"/>
    </div>
    <div class="modal-body row m-3 d-flex" style="flex-direction: column">
      <hr class="eventInfo-line gcc-{{123|make_list|random}}-back md-auto" />
      <tbody class="rowgroup mb-4">
        <h1>Stage : </h1>
        <div class="row m-3 justify-content-around">
          <div class="col row m-4  justify-content-center">
            {% bs_icon 'calendar-check' size='3em' extra_classes="col-2" %}
            <ul class="col m-0 p-0" style="list-style: none;">
              <li>
                <h2>{{ event.start_date }}</h2>
              </li>
              <li>
                <h2>{{ event.end_date }}</h2>
              </li>
            </ul>
          </div>
          <div class="col row m-4  justify-content-center">
            {% bs_icon 'geo-alt-fill' size='3em' extra_classes="col-2" %}
            <ul class="col m-0 p-0" style="list-style: none;">
              <li>
                <h2>{{ event.center.address.street }}</h2>
              </li>
              <li>
                <h2>{{ event.center.address.city }}</h2>
              </li>
            </ul>
          </div>
        </div>
        <h2>{{ event.description }}</h2>
      </tbody>

      <div class="btn-group w-50 mx-auto" role="group">
        <button type="button" class="btn primary-button">
          S'inscrire à ce stage
        </button>
        <!-- TODO: FAIRE LE CALENDRIER DU STAGE -->
        <button type="button" class="btn secondary-button">
        Calendrier du stage
        </button>
      </div>
    </div>
    <div class="modal-footer" style="display:none"></div>
  </div>
</div>