{% load static %}

<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h4 class="js-title-step"></h4>
        </div>
        <div class="modal-body">

            <!--
            <div class="container-fluid">
                <div class="row py-5">
                    <div class="container-fluid">
                        <ul class="wizard-h">
                            <li class="l-wizard-h-step">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->

            <div class="row hide" data-step="1" data-title="This is the first step!">
                <div class="jumbotron">This is the first step!</div>
            </div>
            <div class="row hide" data-step="2" data-title="This is the second step!">
                <div class="jumbotron">This is the second step!</div>
            </div>
            <div class="row hide" data-step="3" data-title="This is the last step!">
                <div class="jumbotron">This is the last step!</div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel"
                data-dismiss="modal"></button>
            <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
            <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
        </div>
    </div>
</div>

<style scoped>
    .wizard-h {
        color: #b8b8b8;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    .wizard-h::before {
        background-image: linear-gradient(white 25%,
                transparent 25%,
                transparent 30%,
                white 30%);
        bottom: 0;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .l-wizard-h-step {
        float: left;
        width: calc(100% / 3);
    }

    .wizard-h .wizard-h__step,
    .wizard-h .wizard-h__step--previous,
    .wizard-h .wizard-h__step--current {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        position: relative;
    }

    .wizard-h .wizard-h__step--previous {
        color: var(--main-hover-color);
    }

    .wizard-h .wizard-h__step,
    .wizard-h .wizard-h__step--previous,
    .wizard-h .wizard-h__step--current {
        display: inline-block;
        height: calc(100% / 3);
        margin-bottom: 0;
        text-align: center;
    }

    .wizard-h .wizard-h__step .fa,
    .wizard-h .wizard-h__step--previous .fa,
    .wizard-h .wizard-h__step--current .fa {
        background: #f5f5f5 none repeat scroll 0 0;
        border-radius: 50%;
        display: block;
        height: calc(100% / 3 * 2);
        left: 30%;
        line-height: 43px;
        position: relative;
        width: calc(100% / 3);
        text-align: center;
        margin-bottom: 10px;
    }

    .wizard-h .wizard-h__step--previous .fa {
        background: #f5f5f5 none repeat scroll 0 0;
        border: 2px solid var(--main-hover-color);
        border-radius: 50%;
        text-align: center;
    }

    .wizard-h .wizard-h__step--current {
        color: var(--main-hover-color);
        font-weight: 700;
    }

    .wizard-h .wizard-h__step--current .fa {
        background: var(--main-hover-color) none repeat scroll 0 0;
        border: 2px solid var(--main-hover-color);
        color: white;
        border-radius: 50%;
        text-align: center;
    }

    .wizard-h .wizard-h__step span,
    .wizard-h .wizard-h__step--previous span,
    .wizard-h .wizard-h__step--current span {
        display: inline-block;
    }

    .form-control {
        border-radius: var(--global-border-radius) !important;
    }
</style>