{% load static %}
<div class="row f-flex justify-content-between event-card mb-4 p-3">
  <div class="col-lg-auto col row">
    <div class="my-auto d-none d-md-block col-md-auto gcc-color-{{123|make_list|random}}">
      <i class="fas fa-circle" style="font-size: 1.2em;"></i>
    </div>

    <!-- Event infos verticaly centered -->
    <div class="col-lg-auto col">
      <h1>{{ event.name }}</h1>
      <h2>Du {{ event.start_date|date:"l d F Y" }} au {{ event.end_date|date:"l d F Y" }}</h2>
      <h3>{{ event.center.address.city }}</h3>
    </div>
  </div>

  <div class="col-xl-auto ml-auto mt-4 mb-1 my-lg-auto btn-group-vertical" role="group">
    <button class="btn mx-auto ml-lg-auto mr-lg-4 btn-primary">S'inscrire à ce stage</button>
    <button class="btn mx-auto ml-lg-auto mr-lg-4 btn-light btn-block" data-bs-toggle="modal" data-bs-target="#informationEventModal-{{id}}">Plus d'informations</button>
  </div>

  <!-- Modal -->
  <div class="modal" id="informationEventModal-{{id}}" tabindex="-1" aria-labelledby="informationEventModalLabel" aria-hidden="true">
    {% include "events/partial/EventInfo.html" with event=event id=id%}
  </div>

</div>

