api/gccsite/*/migrations/
api/.venv/
api/gccsite/gccsite/settings/dev.py
*.pyc
!api/gccsite/*/migrations/__init__.py
node_modules
api/.venv/
api/gccsite/db.sqlite3
front/node_modules*
test/db-data
**/.*.*.sw*
**/.*.sw*
