{% comment %}
    Template parameters:
    - application: the application object.
    - class: class attributes to give to the top div.
{% endcomment %}
{% with "col-lg-4 text-center text-lg-end pe-2" as icon_div_class %}
{% with "fa-lg" as icon_class %}
{% with "col-lg-8 text-center text-lg-start p-0 mt-2 mt-lg-0" as label_class %}
<div class="{{ class }}">
    {# ENDED Application #}
    {% if application.status == ENDED %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-solid fa-flag-checkered {{ icon_class }}"></i>
        </div>
        <div class="{{ label_class }}">Stage terminé</div>
    </div>

    {# CONFIRMED Application #}
    {% elif application.status == CONFIRMED %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-regular fa-circle-check {{ icon_class }}" style="color: #10c001;"></i>
        </div>
        <div class="{{ label_class }}">Acceptée et confirmée</div>
    </div>

    {# ACCEPTED Application #}
    {% elif application.status == ACCEPTED %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-regular fa-circle-check {{ icon_class }}"  style="color: #c4c4c4;"></i>
        </div>
        <div class="{{ label_class }}">À confirmer</div>
    </div>

    {# PENDING Application #}
    {% elif application.status == PENDING %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-regular fa-clock {{ icon_class }}"></i>
        </div>
        <div class="{{ label_class }}">En cours de traitement</div>
    </div>

    {# CANCELLED Application #}
    {% elif application.status == CANCELLED %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-regular fa-circle-stop {{ icon_class }} text-danger"></i>
        </div>
        <div class="{{ label_class }}">Annulée par les organisateurs</div>
    </div>

    {# WITHDRAWN Application #}
    {% elif application.status == WITHDRAWN %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-regular fa-circle-stop {{ icon_class }} text-danger"></i>
        </div>
        <div class="{{ label_class }}">Désistée</div>
    </div>

    {# REJECTED Application #}
    {% elif application.status == REJECTED %}
    <div class="row justify-content-center">
        <div class="{{ icon_div_class }}">
            <i class="fa-regular fa-circle-xmark {{ icon_class }} text-danger"></i>
        </div>
        <div class="{{ label_class }}">Candidature non retenue</div>
    </div>
    {% endif %}
</div>
{% endwith %}
{% endwith %}
{% endwith %}
