{% load static %}
{% load custom_filters %}
<div id="event-list" class="event-list-background py-4 container-fluid">
    {% if open_events|length == 0 %}
        <div fluid="sm"
             class="row no-gutters align-items-baseline justify-content-center">
            <div align="center" class="col-md-4">
                <img src="{% static 'img/no-event.svg' %}" />
            </div>
            <div align="center" class="col-md-4">
                <h1>Malheureusement, il n'y a pas de stages pour le moment...</h1>
                <h3>
                    Vous pouvez vous inscrire à notre newsletter afin de recevoir un
                    mail lorsqu'un nouveau stage est disponible.
                </h3>
                {% include "pages/partial/Newsletter.html" %}
            </div>
        </div>
    {% else %}
        <div class="w-75 mx-auto">
            <p class="h2 pt-4 pb-2 text-center">Nos prochains stages</p>
            {% for event in open_events %}
                {% include "events/partial/event_card.html" with event=event finished=False class="my-4" %}
            {% endfor %}

            <div class="col d-flex justify-content-center align-items-center align-self-center m-2">
                <a type="button"
                   href="{% url 'events:events' %}"
                   class="btn btn-primary my-3">Voir tous nos stages</a>
            </div>
        </div>
    {% endif %}

</div>

{% comment %}
Include here the application form modal, to avoid including it several times.
{% endcomment %}
{% include "applications/partial/event_application_form_modal.html" with color=1 %}
