{% comment %}
    Template parameters:
    - event: the event object.
    - finished: boolean true if the event is finished.
    - class: class parameters to add to the top div
{% endcomment %}
{% load custom_filters %}
<div class="row m-2 p-2 border rounded-3 align-items-center justify-content-between bg-white {{ class }}">

    <div class="col-md-8">
        {# Title + status badge #}
        <div class="d-flex align-items-center">
            <span class="fs-4 fw-bold pe-2">{{ event.name }}</span>
            {% include "events/partial/event_status_badge.html" with event=event %}
        </div>

        {# Date #}
        <div class="row">
            <div class="col-auto">
                <i class="far fa-calendar-check"></i>
            </div>
            <div class="col">
                Du {{ event.start_date|date }}
                au {{ event.end_date|date }}
            </div>
        </div>

        {# Location #}
        <div class="row">
            <div class="col-auto">
                <i class="fas fa-location-dot"></i>
            </div>
            <div class="col">
                {{ event.center.address.zip_code }},
                {{ event.center.address.city }}
            </div>
        </div>
    </div>

    {# Finished events #}
    {% if finished %}
        <div class="col-md-3 text-end">
            <div class="fst-italic">
                Ce stage est terminé. Consulte les photos
                <a href="{{ FLICKR_URL }}" target="blank">ici</a> !
            </div>
        </div>
        {# Ongoing events #}
    {% else %}
        <div class="col-md-3 offset-md-1 mt-3 mt-md-0" role="group">
            <button
                class="btn mx-auto btn-primary btn-block"
                data-bs-toggle="modal"
                data-bs-target="#application-form-modal"
                data-bs-event-id="{{ event.id }}"
                {# Disable the registration button if not signup period #}
                {% if not event|signup_opened %}disabled{% endif %}
                >S'inscrire à ce stage</button>
            <button class="btn mx-auto btn-light btn-block mt-1"
                    data-bs-toggle="modal"
                    data-bs-target="#scheduleModal-{{ event|event_format }}">
                Calendrier du stage
            </button>
        </div>
    {% endif %}

</div>
