{% load static %}
{% load custom_filters %}
<div id="event-list" class="event-list-background py-4 container-fluid">
  {% if open_events|length == 0 %}
  <div fluid="sm" class="row no-gutters align-items-baseline justify-content-center">
    <div align="center" class="col-md-4">
      <img src="{% static 'img/no-event.svg' %}"/>
    </div>
    <div align="center" class="col-md-4">
      <h1>Malheureusement, il n'y a pas de stages pour le moment...</h1>
      <h3>
        Vous pouvez vous inscrire à notre newsletter afin de recevoir un
        mail lorsqu'un nouveau stage est disponible.
      </h3>
      {% include 'pages/partial/Newsletter.html' %}
    </div>
  </div>
  {% else %}
  <div class="w-75 mx-auto pt-5">
    {% for event in open_events %}
    {% cycle 1 2 3 as color silent %}
    {% include "events/partial/EventCard.html" with event=event id=event.pk color=color applications=applications|match_event:event.pk %}
    {% endfor %}
  </div>
  {% if is_paginated %}
    <nav aria-label>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Précédent</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">Suivant</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  {% endif %}

</div>
