{% load i18n %}
{% autoescape off %}
    Vous recevez ce message en réponse à votre demande de réinitialisation du mot de passe de votre compte sur {{ site_name }}.

    Veuillez vous rendre sur cette page et choisir un nouveau mot de passe :
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
    {% endblock reset_link %}
    Ce lien expirera dans 72 heures.
    Votre nom d'utilisateur, en cas d'oubli: {{ user.get_username }}

    Bonne journée

    L'équipe de Girls Can Code!

{% endautoescape %}
