{% extends "users/base_auth.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Réinitialiser son mot de passe
{% endblock title %}

{% block form %}
    {% if validlink %}
        {% crispy form %}
    {% else %}
        <div class="container-fuild">
            <div class="row mb-2 justify-content-center">{{ title }}</div>
            <div class="row">
                <a type="button"
                   href="{% url 'events:home' %}"
                   class="col-auto mx-auto align-items-center btn btn-primary py-1 px-3">
                    Retour à l'accueil
                </a>
            </div>
        </div>
    {% endif %}
{% endblock form %}

{% block bottom %}
{% endblock bottom %}
