{% extends "users/base_auth.html" %}
{% load i18n %}

{% block title %}
    Réinitialiser son mot de passe
{% endblock title %}

{% block form %}
    <div class="container-fluid">
        <p class="row">Votre mot de passe a bien été modifié !</p>

        <div class="row">
            <a type="button"
               href="{% url 'users:login' %}"
               class="col-auto mx-auto align-items-center btn btn-primary py-1 px-3">
                Se connecter
            </a>
        </div>
    </div>
{% endblock form %}

{% block bottom %}
{% endblock bottom %}
