{% load static %}
<footer class="footer-bg py-2 w-100 container-fluid">
  <div class="row mx-5">
    <a class="col-12 col-lg-auto mb-3 mb-lg-0 text-center text-lg-left" href="/">
      <img src="{% static 'img/logo_gcc.svg' %}" alt="Logo des stages Girls Can Code!"
        class="container-fluid picture-size" />
    </a>
    <div class="col-12 col-lg-auto text-center text-lg-left col">
      <a href="/privacy" class="secondary-button footer-link-style my-auto">
        Politique de confidentialité
      </a>
    </div>
    <div class="col-12 col-lg-auto text-center text-lg-left col">
      <a href="/legal-notices" class="secondary-button footer-link-style my-auto">
        Mentions légales
      </a>
    </div>
    <div class="row col-12 col-lg-auto mx-auto ml-lg-auto mr-lg-0 p-0">
      <a href="mailto:{{ CONTACT_EMAIL }}"
        class="secondary-button col-lg-auto order-lg-1 text-center footer-link-style my-auto"> {{ CONTACT_EMAIL }}</a>
      <div class="row col-5 col-lg-auto order-1 order-lg-12 my-3 my-lg-0 mx-auto mr-lg-0" align-h="center">
        {% for sn in SOCIAL_NETWORKS %}
        {% include 'gccsite/partial/SocialNetwork.html' with sn=sn %}
        {% endfor %}
      </div>
    </div>
    <div class="col-12 col-lg-auto text-center text-lg-left">
      Illustrations made with
      <a href="https://storyset.com" class="secondary-button footer-link-style my-auto">
        Storyset
      </a>
    </div>
  </div>
</footer>
