{% comment %}
    Template parameters:
    - dd_id: The id to give to the dropdown menu
{% endcomment %}
<ul class="dropdown-menu dropdown-menu-end" id="{{ dd_id }}">
    <li>
        <a class="dropdown-header">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <h3>{{ user.email }}</h3>
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'users:account_information' %}">
            <i class="fas fa-user me-2"></i>Mon compte
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'applications:my_applications' %}">
            <i class="fas fa-inbox me-2"></i>Mes candidatures
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'users:logout' %}">
            <i class="fas fa-power-off me-2"></i>Se déconnecter
        </a>
    </li>
</ul>
