@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

/* If the screen size is 601px wide or more */
@media screen and (min-width: 601px) {
  body {
    font-size: 16px;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  body {
    font-size: 4vw;;
  }
}

body {
  font-family: 'Inter',sans-serif;
  color: var(--main-dark-color);

  --gcc-pink-color: #FF0079;
  --gcc-green-color: #A6C613;
  --gcc-blue-color: #00AED3;
  --main-dark-color: #222A35;
  --main-light-color: #eff2f5;
  --global-border-radius: 12px;
  --main-hover-color: #46566D;
  --light-text-color: #92a2b9;
}

/*
 * To use in each view that use header and footer.
 * */
.main-body-style {
  /*
   * The fixed navbar overlay other contents, unless you add padding
   * to the top of the <body>.
   */
  padding-top: 70px;

  /*
   * Needed to fix the footer to the bottom of the screen or to the bottom of
   * the page if the page is longer than the screen.
   * */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

/*
 * To use if you want to fix the footer to the bottom of the screen or the
 * page. The page content should be inside the content class and the footer
 * have to be outside of it.
 * */
.content {
  flex: 1;
}

.primary-button {
  background-color: var(--main-dark-color);
  border-color: var(--main-dark-color);
  color: white;
  border-radius: var(--global-border-radius);
}

.primary-button:hover {
  background-color: var(--main-hover-color);
}

.secondary-button {
  color: var(--main-dark-color);
  background-color: white;
  border-color: white;
  border-radius: var(--global-border-radius);
}

.secondary-button:hover, .secondary-button:focus {
  color: var(--main-hover-color);
  background-color: white;
  border-color: var(--main-hover-color);
  text-decoration: underline;
}

h1, .titleSize {
  font-size: 200%;
  font-weight: bold;
}

h2, .subtitleSize {
  font-size: 150%;
}

h3, .subsubtitleSize {
  font-size: 100%;
}

h4, .contentTextSize {
  font-size: 80%;
}

.light-text {
  color: #37474F;
  font-weight: 400;
  font-size: 80%;
}

.gcc-pink {
  color: var(--gcc-pink-color);
}

.gcc-green {
  color: var(--gcc-green-color);
}

.gcc-blue {
  color: var(--gcc-blue-color);
}

.jumbotron {
  border-radius: var(--global-border-radius);
}

.content-background {
  background-color: white;
  border-radius: var(--global-border-radius);
  padding: 15px;
}

.basic-background {
  height: 100%;
  background-attachment: fixed;
  background-color: white;
  background-image: url('~@/assets/basic_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

