@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body {
    font-family: 'Inter',sans-serif;
    color: var(--main-dark-color);
    font-size: 16px;

    --gcc-pink-color: #FF0079;
    --gcc-green-color: #A6C613;
    --gcc-blue-color: #00AED3;
    --main-dark-color: #222A35;
}

.primary-button {
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
    color: white;
}

.secondary-button {
    color: var(--main-dark-color);
    background-color: white;
    border-color: white;
}

.secondary-button:hover {
    color: var(--main-dark-color);
    background-color: white;
    border-color: var(--main-dark-color);
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 100%;
}

h4 {
    font-size: 80%;
}
