@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body {
    font-family: 'Inter',sans-serif;
    color: var(--main-dark-color);
    font-size: 16px;

    --gcc-pink-color: #FF0079;
    --gcc-green-color: #A6C613;
    --gcc-blue-color: #00AED3;
    --main-dark-color: #222A35;
    --global-border-radius: 12px;
    --main-hover-color: #46566D;
}

.primary-button {
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
    color: white;
    border-radius: var(--global-border-radius);
}

.primary-button:hover {
    background-color: var(--main-hover-color);
}

.secondary-button {
    color: var(--main-dark-color);
    background-color: white;
    border-color: white;
    border-radius: var(--global-border-radius);
}

.secondary-button:hover {
    color: var(--main-hover-color);
    background-color: white;
    border-color: white;
}

h1, .titleSize {
    font-size: 200%;
    font-weight: bold;
}

h2, .subtitleSize {
    font-size: 150%;
}

h3, .subsubtitleSize {
    font-size: 100%;
}

h4, .contentTextSize {
    font-size: 80%;
}

.light-text {
  color: #37474F;
  font-weight: 400;
  font-size: 80%;
}

.gcc-pink {
  color: var(--gcc-pink-color);
}

.gcc-green {
  color: var(--gcc-green-color);
}

.gcc-blue {
  color: var(--gcc-blue-color);
}

.jumbotron {
    border-radius: var(--global-border-radius);
}

.content-background {
  background-color: white;
  border-radius: var(--global-border-radius);
}

.basic-background {
  height: 100vh;
  background-color: white;
  background-image: url('~@/assets/basic_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

