{% extends 'gccsite/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/partners/partial.css' %}">
{% endblock %}

{% block content %}

<div id="partnerBand" class="newsletter-background">
    <div class="row mx-auto my-auto justify-content-center">
        <p class="h1 pt-4 pb-4 text-center">Nos partenaires: (Affichage temporaire)</p>

        <div class="container text-center m-5 p-5 pt-0 mt-0">
            <div class="row rounded p-5" style="background-color: white">
                {% for partner in partners %}
                    <div class="col-md-6 col-lg-4 col-xl-2">
                        <div class="card-img m-2 p-2">
                            <a href="{{partner.website_url}}">
                                <img src="{{ partner.logo_url }}" class="img-fluid d-block mx-auto" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
