.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    --bs-btn-border-radius: var(--global-border-radius);

    --bs-btn-color: #fff;
    --bs-btn-bg: var(--main-dark-color);
    --bs-btn-border-color: var(--main-dark-color);

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--main-hover-color);
    --bs-btn-hover-border-color: var(--main-hover-color);

    --bs-btn-focus-shadow-rgb: 49,132,253;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5c5c5c;
    --bs-btn-disabled-border-color: #3d3d3d;
}

.btn-secondary {
    --bs-btn-border-radius: var(--global-border-radius);

    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;

    --bs-btn-focus-shadow-rgb: 130,138,145;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

/*
.btn-secondary:hover, .btn-secondary:focus {
  color: var(--main-hover-color);
  background-color: white;
  border-color: var(--main-hover-color);
  text-decoration: underline;
} */

.btn-light {
    --bs-btn-border-radius: var(--global-border-radius);

    --bs-btn-color: var(--main-dark-color);
    --bs-btn-bg: white;
    --bs-btn-border-color: white;

    --bs-btn-hover-color: var(--main-hover-color);
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: var(--main-hover-color);

    --bs-btn-focus-shadow-rgb: 130,138,145;

    --bs-btn-active-color: var(--main-dark-color);
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: var(--main-dark-color);
    --bs-btn-active-shadow: inset 0 3px 5px white;

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.btn-group>.btn-light{
    border: 1px solid var(--main-dark-color)
}

.pagination {
    --bs-pagination-color: var(--main-dark-color);
    --bs-pagination-hover-color: var(--main-hover-color);
    --bs-pagination-focus-color: var(--main-dark-color);
    --bs-pagination-active-bg: var(--main-dark-color);
    --bs-pagination-active-border-color: var(--main-dark-color);
}

.accordion {
    --bs-accordion-active-color: var(--main-dark-color);
    --bs-accordion-btn-focus-border-color: var(--main-grey-background);
    --bs-accordion-active-bg: var(--main-grey-background);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--main-grey-background);
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}
