.carousel-inner .partner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20vh; /* Adjust the desired maximum width */
    height: auto;
    margin: 0 auto;
}
  
.carousel-inner .partner img {
    max-width: 40vh;
    height: auto;
}