.about-background {
  background-image: url("../../img/about_background.svg");
}

.content-about {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.img-about {
  display: block;
  margin: auto;
}

@media (min-width: 576px) {
  .content-about {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .content-about {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .content-about {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .content-about {
    max-width: 1250px;
  }
}
