{% extends 'gccsite/base.html' %}

{% block content %}

<!-- Home illustration -->
<div class="home-banner container-fluid">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="text-md-left col-md-5 col-lg-4 content-background home-title col">
      <span>
        <h1>Stage d'initiation à l'informatique pour collégiennes et lycéennes.</h1>
      </span>

      <span>
        <a type="button" href="#event-list" class="btn btn-primary subtitleSize mt-4 btn-block">
          Voir les stages
        </a>
      </span>
      <span>
        <a type="button" href="#faq" class="btn subtitleSize btn-light btn-block">
          Plus d'informations
        </a>
      </span>
    </div>
  </div>
</div>

<!-- TODO: PARTNERS -->

<!-- Event list -->
{% include 'events/partial/EventList.html' %}

<!-- TODO: PARTNERS -->

<!-- FAQ -->
{% include 'pages/partial/FAQ.html' %}

<!-- Newsletter -->
<div class="newsletter-background text-center container-fluid">
  <div class="row justify-content-center">
    <div class="mt-5 col-md-8">
      <h1>S'inscrire à la newsletter</h1>
      <h3>Pour être tenu au courant de nos prochains évènements.</h3>
      {% include 'pages/partial/Newsletter.html' %}
    </div>
  </div>
</div>

{% endblock %}
