{% extends 'gccsite/base.html' %}

{% block content %}

<div class="home-banner container-fluid">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="text-md-left col-md-5 col-lg-4 content-background home-title col">
      <span>
        <h1>Stage d'initiation à l'informatique pour collégiennes et lycéennes.</h1>
      </span>

      <span>
        <a type="button" href="#event-list" class="btn primary-button subtitleSize mt-4 btn-secondary btn-block">
          Voir les stages
        </a>
      </span>
      <span>
        <a type="button" href="#faq" class="btn secondary-button subtitleSize btn-secondary btn-block">
          Plus d'informations
        </a>
      </span>
    </div>
  </div>
</div>

{% include 'events/partial/EventList.html' %}

{% include 'events/partial/FAQ.html' %}


{% if request.user.newsletter_subscribed %}
<div class="alert alert-success">
    <p>Merci de vous être abonné à la newsletter !</p>
</div>
{% endif %}

<h1>Bonjour, {{ request.user }}</h1>
{% for event in open_events %}
<div class="card">
    <div class="card-body">
        <h3>{{ event.name }}</h3>
        <p>{{ event.description }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}