{% extends 'gccsite/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/users/account_information.css' %}">
{% endblock %}

{% block content %}

<div no-gutters class="container-fluid">
  <div class="mx-5 my-4">
    <h2>Gestion du compte</h2>
    <p>
      Les stages Girls Can Code! sont organisés par l'Association Prologin,
      qui agit en tant que contrôleur de données. Les réponses collectées dans
      ce formulaire nous permettent de préparer le stage: sélections,
      documents, nourritures, etc. Pour en apprendre plus à propos de notre
      gestion des données et de vos droits, consultez
      <a href="/Privacy"> page dédiée </a>
    </p>
  </div>

  <div class="row mx-0 mx-md-5">
    <div class="col d-none d-md-block col-md-3">
      <div class="sidebar-item">
        <div class="make-me-sticky">
          <a type="button" class="btn secondary-button btn-secondary btn-block" href="#personal-info">
            <i class="fas fa-user me-2"></i>
            Informations personnelles
          </a>
          <a type="button" class="btn secondary-button btn-secondary btn-block" href="#email">
            <i class="fas fa-envelope me-2"></i>
            E-mail
          </a>
          <a type="button" class="btn secondary-button btn-secondary btn-block" href="#password">
            <i class="fas fa-unlock me-2"></i>
            Mot de passe
          </a>
          <a type="button" class="btn secondary-button btn-secondary btn-block" href="#notifications">
            <i class="fas fa-bell me-2"></i>
            Gestion des notifications
          </a>
          <a type="button" class="btn secondary-button btn-secondary btn-block" href="#rgpd">
            <i class="fas fa-gear me-2"></i>
            Archive des données
          </a>
          <a type="button" class="btn secondary-button btn-secondary btn-block" href="#delete">
            <i class="fas fa-triangle-exclamation me-2"></i>
            Suppression de compte
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="personal-info" md="12" class="col mb-5 p-5 account-group">
        <h1>Informations personnelles</h1>
        <h3>
          Informations traitées seulement en cas de sélection à un stage,
          d'appel d'urgence, d'envois de courrier ou d'email ou lors de la
          connexion.
        </h3>
        {% crispy personal_info_form %}
        {# Show the success or error messages #}
        {% for msg in messages %}
          {% if msg.extra_tags == "personal_info" %}
            <div class="mt-2 alert alert-{{msg.level_tag}}" role="alert">
              {{msg.message}}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div id="email" md="12" class="col my-5 p-5 account-group">
        <h1>Changer d'adresse email</h1>
        {% crispy email_form %}
        {# Show the success or error messages #}
        {% for msg in messages %}
          {% if msg.extra_tags == "email" %}
            <div class="mt-2 alert alert-{{msg.level_tag}}" role="alert">
              {{msg.message}}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div id="password" md="12" class="col my-5 p-5 account-group">
        <h1>Changer de mot de passe</h1>
        {% crispy password_update_form %}
      </div>

      <div id="notifications" md="12" class="col my-5 p-5 account-group">
        <h1>Notifications</h1>
        <h3>Gérez les autorisations.</h3>
        {% crispy notifs_update_form %}
      </div>

      <div id="rgpd" md="12" class="col my-5 p-5 account-group">
        <h1>Exporter vos données personnelles</h1>
        <h3>
          Vous pouvez télécharger une archive contenant toutes vos données
          personnelles, comme prévu par le Droit à la portabilité (Art. 20 du
          RGPD).
        </h3>
        <div class="mt-4 p-0 col-12 col-md-4 offset-md-8 col">
          <button class="btn primary-button btn-secondary btn-block">
            Télécharger
          </button>
        </div>
      </div>

      <div id="delete" md="12" class="col my-5 p-5 account-group">
        <h1>Supprimer votre compte</h1>
        <h3>
          Vous pouvez supprimer votre compte et toutes les données
          personnelles associées, comme prévu par votre Droit à la suppression
          (Art. 17 du RGPD).
        </h3>
        <div class="mt-4 p-0 col-12 col-md-4 offset-md-8 col">
          <button class="btn primary-button red-button btn-secondary btn-block">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
