.eventInfo-line {
    height: 3px;
    width: 100%;
    border-radius: 40%;
}

ul.review-edition-years > li {
    display: inline-block;
}

.answer {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.questions {
    margin: 0;
}

/* ApplicationsView */
.candidatures-background {
    height: 100%;
    background-image: url("./../../img/candidatures_bg.svg");
    background-position: 0% -25px;
    background-repeat: no-repeat;
}

.custom-table {
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 85%;
    margin: 0 auto;
}

.custom-table > .table {
    border-style: solid;
    border-color: inherit;
    border-width: 0;
}
