{# TODO: ADD API LINK #}
<div align="center" class="my-4 container-fluid">
  <div class="my-4 container-fluid">
    <form class="w-75">
      <div id="input-group-1" class="input-group" role="group" for="input-1">
        <input type="email" class="rounded-input-left form-control" id="input-1" placeholder="votre.email@exemple.com">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary rounded-input-right ps-4 pe-4">S'inscrire</button>
        </div>
      </div>
    </form>
  </div>
  <p style="color: var(--light-text-color)" class="light-text mt-2">
    Nous n'aimons pas le spam et nous ne partagerons jamais votre adresse
    email.
  </p>
</div>
