
{% block head%}
<link rel="stylesheet" href="static/css/partners/partial.css">
{% endblock %}




<div id="partnerBand" class="">
    <div class="row mx-auto my-auto justify-content-center">
        {% if status == "avant" %}
            <p class="h2 pt-4 pb-4 text-center">Ils nous font confiance</p>
        {% elif status == "financement" %}
            <p class="h2 pt-4 pb-4 text-center">Ils nous soutiennent</p>
        {% else %}
            <p class="h2 pt-4 pb-4 text-center">Ils nous accueillent</p>
        {% endif %}

        <div id="carousel-sponsors-{{status}}" class="carousel carousel-dark slide pb-3" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% if status == "avant" %}
                    {% for partner in partners_avant %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <div class="col-md-3">
                                <div class="card-img">
                                    <a href="{{partner.website_url}}">
                                        <img src="{{partner.logo}}" class="img-fluid partner"  />
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% elif status == "financement" %}
                    {% for partner in partners_financement %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <div class="col-md-3">
                                <div class="card-img">
                                    <a href="{{partner.website_url}}">
                                        <img src="{{partner.logo}}" class="img-fluid partner" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for partner in partners_accueil %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <div class="col-md-3">
                                <div class="card-img">
                                    <a href="{{partner.website_url}}">
                                        <img src="{{partner.logo}}" class="img-fluid partner" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <a class="carousel-control-prev" href="#carousel-sponsors-{{status}}" role="button"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carousel-sponsors-{{status}}" role="button"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
