{% regroup partners by status as partners_status %}

{% block head%}
<link rel="stylesheet" href="static/css/partners/partial.css">
{% endblock %}

<!-- Les sponsors mis en avant -->

<div class="container text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
        {% if status == "avant" %}
            <h2>Ils nous soutiennent</h2>
        {% elif status == "financement" %}
            <h2>Ils nous financent</h2>
        {% else %}
            <h2>Ils nous accueillent</h2>
        {% endif %}


        <div id="carousel-sponsors-{{status}}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for sponsors in partners_status %}
                    {{ partner }}
                    {% if sponsors.grouper == status %}
                        {% for sponsor in sponsors.list %}
                            <div class="carousel-item active">
                                <div class="col-md-3">
                                    <div class="card-img">
                                        <img src="{{sponsor.logo}}" class="img-fluid" width="400px" height="400px">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#carousel-sponsors-{{status}}" role="button"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#carousel-sponsors-{{status}}" role="button"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
