{% comment %}
    Template parameters:
    - event: the event object.
    - event_applications: All the applications from the user for this event
{% endcomment %}
{% load custom_filters %}
<div class="bg-white border border-dark rounded-2 p-3 mb-4">
    <div class="row p-2">
        {# Title #}
        <div class="col-md-8">
            <div class="pb-2">
                <h2>
                    Stage <strong>{{ event.name }}</strong>
                </h2>
                <div>
                    du {{ event.start_date|date:"l d F" }}
                    au {{ event.end_date|date:"l d F Y" }}
                </div>
            </div>
            <p>
                Tu as soumis {{ event_applications|length }}
                candidature{{ event_applications|length|pluralize:"s" }} pour ce stage.
            </p>
        </div>

        {# Buttons #}
        <div class="col-md-3 ms-auto">
            {# TODO: confirmer candidatures acceptées #}
            {% comment %} <div>
                Boutons :)
            </div> {% endcomment %}
            <div class="d-flex ms-auto justify-content-center justify-content-lg-end">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#application-form-modal"
                        data-bs-event-id="{{ event.id }}">
                    Ajouter une candidature
                </button>
            </div>
        </div>
    </div>

    {% comment %}
        If at least 1 application for the event is confirmed,
        show the map and "invitation" recap.
    {% endcomment %}
    {% if event_applications|any_confirmed %}
        <div class="p-2 m-2 rounded rounded-2 bg-dark bg-opacity-10">
            <h2 class="m-2">Félicitations ! 🎉</h2>
            <p class="m-2">Au moins une de tes candidatures à été confirmée !</p>

            {# Display a Google map embed if the query is given #}
            {% with application.event.center.address.gg_maps_query as query %}
                {% if query %}
                    <div class="m-3 row justify-content-around">
                        <iframe class="col"
                                src="https://maps.google.com/maps?q={{ query|urlencode }}&hl=es;z=14&amp;output=embed">
                        </iframe>
                    </div>
                {% endif %}
            {% endwith %}

            <div class="row m-3 justify-content-around">
                <div class="col-sm-auto row justify-content-center">
                    <div class="col-md-auto text-center align-self-center">
                        <i class="far fa-calendar-check" style="font-size: 2em"></i>
                    </div>
                    <ul class="col-md-auto text-center m-0 p-0" style="list-style: none;">
                        <li>
                            <strong>{{ application.event.start_date }}</strong>
                        </li>
                        <li>
                            <strong>{{ application.event.end_date }}</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-auto row justify-content-center">
                    <div class="col-md-auto text-center align-self-center">
                        <i class="fas fa-location-dot" style="font-size: 2em"></i>
                    </div>
                    <ul class="col-md-auto text-center m-0 p-0" style="list-style: none;">
                        <li>
                            <strong>{{ application.event.center.address.street }}</strong>
                        </li>
                        <li>
                            <strong>{{ application.event.center.address.city }}</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-2 row">
                <p class="col-auto">
                    Les documents suivants seront à fournir le 1er jour.
                    Si vous n'avez pas d'imprimante, des exemplaires seront disponibles sur place.
                </p>
                {# TODO : DOCUMENT GENERATOR #}
                {#<button class="btn btn-primary py-2 col-auto">Télécharger les documents</button>#}
            </div>
            <div class="m-2">
                <i class="fa-sharp fa-solid fa-circle-info fa-lg"></i>
                Les repas sont pris en charge par l'association.
                <br>
                <i class="fa-solid fa-circle-question fa-lg"></i>
                Des questions ? Envoyez un mail à
                <a href="mailto:{{ CONTACT_EMAIL }}"><strong>{{ CONTACT_EMAIL }}</strong></a>
                <br>
                <i class="fa-solid fa-circle-plus fa-lg"></i>
                Clique
                <a href=""
                   type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#scheduleModal-{{ event|event_format }}">
                    ici
                </a>
                pour voir le programme prévu.
            </div>
        </div>
    {% endif %}

    {# Applications accordion #}
    <h2 class="fw-bold mt-4">Détail des candidatures</h2>
    <div id="event-{{ event.id }}-applications" class="accordion">
        {% for application in event_applications %}
            <div class="accordion-item border-1">
                {# Header #}
                <h2 id="event-{{ event.id }}-app-header-{{ forloop.counter }}"
                    class="accordion-header">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                            data-bs-target="#event-{{ event.id }}-app-collapse-{{ forloop.counter }}"
                            aria-controls="event-{{ event.id }}-app-collapse-{{ forloop.counter }}">
                        <div class="row  justify-content-between"
                             style="width: calc(100% - var(--bs-accordion-btn-icon-width))">
                            <div class="col-sm-6 my-sm-auto mb-3 text-center text-sm-start">
                                <i class="fas fa-user me-2"></i>
                                {{ application.first_name|title }}
                                {{ application.last_name|title }}
                            </div>

                            {# Status Chip #}
                            {% include "applications/partial/application_status.html" with application=application class="col-sm-6 mx-auto" %}
                        </div>
                    </button>
                </h2>

                {# Collapsed #}
                <div
                    id="event-{{ event.id }}-app-collapse-{{ forloop.counter }}"
                    class="accordion-collapse collapse"
                    aria-labelledby="event-{{ event.id }}-app-header-{{ forloop.counter }}"
                    {# data-bs-parent="#event-{{ event.id }}-applications" // Disabling this allows to keep everything open#}
                    >
                    <div class="accordion-body">
                        {% if application.status == ENDED %}
                            {# ENDED Application #}
                            {# TODO: Add field in back to have the good link of flickr #}
                            <p class="h6">
                                Le stage est terminé, bravo à toi pour ta participation !
                                <br>
                                Tu peux retrouver les photos du stags sur notre <a href="https://www.flickr.com/photos/prologin/">flickr</a>
                            </p>
                        {% elif application.status == CONFIRMED %}
                            {# CONFIRMED Application #}
                            <div>
                                <h6>Félicitations ! Ta candidature a été confirmée !</h6>

                                <div class="row justify-content-center text-center mt-4" role="group">
                                    {# Cancel bouton #}
                                    {% include "applications/partial/application_cancel_confirm_modal.html" with application=application button_class="col-md-4 col-lg-3" %}
                                </div>
                            </div>
                        {% elif application.status == ACCEPTED %}
                            {# ACCEPTED Application #}
                            <div>
                                <h6>
                                    Félicitations, ta candidature a été retenue !
                                    Il faut maintenant que tu confirmes ta venue.
                                </h6>

                                <div type="button"
                                     class="row gap-1 justify-content-center text-center mt-4"
                                     role="group">
                                    <form class="col-md-4 col-lg-3"
                                          method="post"
                                          action="{% url 'applications:application_status_update' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="application-id" value="{{ application.pk }}">
                                        <input type="hidden" name="status" value="2">
                                        <input type="submit"
                                               class="btn btn-primary w-100"
                                               value="Confirmer ma venue">
                                    </form>

                                    <div class="col-md-4 col-lg-3">
                                        {# Cancel bouton #}
                                        {% include "applications/partial/application_cancel_confirm_modal.html" with application=application button_class="w-100" %}
                                    </div>
                                </div>
                            </div>
                        {% elif application.status == PENDING %}
                            {# PENDING Application #}
                            <div>
                                <h6>
                                    Nous avons bien reçu ta candidature. Reviens plus tard pour voir si tu es sélectionnée !
                                </h6>

                                <div class="row justify-content-center text-center mt-4" role="group">
                                    {# Cancel bouton #}
                                    {% include "applications/partial/application_cancel_confirm_modal.html" with application=application button_class="col-md-4 col-lg-3" %}
                                </div>
                            </div>
                        {% elif application.status == CANCELLED %}
                            {# CANCELLED Application #}
                            <div>
                                <h6>
                                    Ta candidature a été annulée par les organisateurs. Pour toute question ou réclamation, tu peux envoyer un mail à <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>
                                    <a href="{% url 'events:home' %}">Tu peux t'inscrire à d'autres stages ici.</a>
                                </h6>
                            </div>
                        {% elif application.status == WITHDRAWN %}
                            {# WITHDRAWN Application #}
                            <div>
                                <h6>
                                    Tu as annulé ta candidature. <a href="{% url 'events:home' %}">Inscris-toi à d'autres stages ici.</a>
                                </h6>
                            </div>
                        {% elif application.status == REJECTED %}
                            {# REJECTED Application #}
                            <div>
                                <h6>
                                    Le stage est déjà complet. <a href="{% url 'events:home' %}">Inscris-toi à d'autres stages ici.</a>
                                </h6>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
