{% extends "gccsite/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'css/users/account_information.css' %}">
{% endblock head %}

{% block content %}
    <div class="basic-background">
        <div class="mx-5 my-4">
            <h2>Gestion du compte</h2>
            <p>
                Les stages Girls Can Code! sont organisés par l'association Prologin,
                qui agit en tant que contrôleur de données. Les réponses collectées dans
                ce formulaire nous permettent de préparer le stage : sélections,
                documents, nourritures, etc. Pour en savoit plus à propos de notre
                gestion des données et de vos droits, consultez
                <a href="{% url 'pages:privacy' %}">page dédiée.</a>
            </p>
        </div>

        <div class="row mx-0 mx-md-5">
            <div class="col d-none d-md-block col-md-3">
                <div class="sidebar-item">
                    <div class="make-me-sticky">
                        <a type="button"
                           class="btn btn-light m-1 btn-block text-start"
                           href="#personal-info">
                            <i class="fas fa-user me-2"></i>
                            Informations personnelles
                        </a>
                        <a type="button"
                           class="btn btn-light m-1 btn-block text-start"
                           href="#password">
                            <i class="fas fa-unlock me-2"></i>
                            Mot de passe
                        </a>
                        {% comment %}
          <a type="button" class="btn btn-light m-1 btn-block text-start" href="#notifications">
            <i class="fas fa-bell me-2"></i>
            Gestion des notifications
          </a>
                        {% endcomment %}
                        <a type="button"
                           class="btn btn-light m-1 btn-block text-start"
                           href="#rgpd">
                            <i class="fas fa-gear me-2"></i>
                            Archive des données
                        </a>
                        <a type="button"
                           class="btn btn-light m-1 btn-block text-start"
                           href="#delete">
                            <i class="fas fa-triangle-exclamation me-2"></i>
                            Suppression de compte
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div md="12" class="col mb-5 p-5 content-background">
                    <h1>Informations personnelles</h1>
                    <h3>
                        Informations traitées seulement en cas de sélection à un stage,
                        d'appel d'urgence, d'envois de courrier ou d'email ou lors de la
                        connexion.
                    </h3>
                    <div class="personal_info_form">
                        <h2 class="on_change_active_personal_info">Changer de nom et prénom</h2>
                        {% crispy personal_info_form %}
                        <div class="mt-4 p-0 col-12 col-md-4 offset-md-8 col">
                            <button class="btn btn-primary btn-block"
                                    onClick="activeFormPersonalInfo()"
                                    id="active_personal_info">Modifier</button>
                        </div>
                        {# Show the success or error messages #}
                        {% for msg in messages %}
                            {% if msg.extra_tags == "personal_info" %}
                                <div class="mt-2 alert alert-{{ msg.level_tag }}" role="alert">
                                    {{ msg.message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="email_form">
                        <h2 class="on_change_active_email">Changer d'adresse email</h2>
                        {% crispy email_form %}
                        <div class="mt-4 p-0 col-12 col-md-4 offset-md-8 col">
                            <button class="btn btn-primary btn-block"
                                    onClick="activeFormEmail()"
                                    id="active_email">Modifier</button>
                        </div>
                        {# Show the success or error messages #}
                        {% for msg in messages %}
                            {% if msg.extra_tags == "email" %}
                                <div class="mt-2 alert alert-{{ msg.level_tag }}" role="alert">
                                    {{ msg.message }}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div md="12" class="col my-5 p-5 content-background">
                    <h1>Changer de mot de passe</h1>
                    {% crispy password_update_form %}
                    {# Show the success or error messages #}
                    {% for msg in messages %}
                        {% if msg.extra_tags == "pwd" %}
                            <div class="mt-2 alert alert-{{ msg.level_tag }}" role="alert">
                                {{ msg.message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {% comment %}
      <div md="12" class="col my-5 p-5 content-background">
        <div id="notifications" style="display: block; position: relative; top: -130px; visibility: hidden"></div>

        <h1>Notifications</h1>
        <h3>Gérez les autorisations.</h3>
        {% crispy notifs_update_form %}
      </div>
                {% endcomment %}

                <div id="rgpd"></div>

                <div md="12" class="col my-5 p-5 content-background">

                    <h1>Exporter vos données personnelles</h1>
                    <h3>
                        Vous pouvez télécharger une archive contenant toutes vos données
                        personnelles, comme prévu par le Droit à la portabilité (Art. 20 du
                        RGPD).
                    </h3>
                    <div class="mt-4 p-0 col-12 col-md-4 offset-md-8 col">
                        <a class="btn btn-primary btn-block"
                           href="{% url 'users:export_users_csv' %}">
                            Télécharger
                        </a>
                    </div>
                </div>

                <div id="delete" md="12" class="col my-5 p-5 content-background">
                    <h1>Supprimer votre compte</h1>
                    <h3>
                        Vous pouvez supprimer votre compte et toutes les données
                        personnelles associées, comme prévu par votre Droit à la suppression
                        (Art. 17 du RGPD).
                    </h3>
                    <div class="mt-4 p-0 col-12 col-md-4 offset-md-8 col">
                        <button class="btn btn-primary btn-block red-button"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-account">
                            Supprimer
                        </button>
                    </div>

                    <div class="modal"
                         id="delete-account"
                         tabindex="-1"
                         aria-labelledby="delete-account"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body col-md-auto">
                                    Êtes vous sur de vouloir supprimer votre compte ?
                                </div>
                                <div class="modal-footer">
                                    {% crispy delete_user_form %}
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                        Annuler
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/personal_info_form.js'%}"></script>
{% endblock scripts %}
