{% extends "users/base_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Se connecter sur <b>Girls Can Code!</b>
{% endblock title %}

{% block form %}
    {% crispy form %}
    <a class="btn btn-light btn-block mt-2"
       href="{% url 'oidc_authentication_init' %}">Se connecter (interne)</a>
{% endblock form %}

{% block bottom %}
    <hr class="my-2" />
    <div class="fs-6 my-1" align="center">
        Je n'ai pas de compte,
        <a href="{% url 'users:register' %}">s'inscrire</a>
    </div>
    <hr class="my-2" />
    <div class="fs-6 mb-3" align="center">
        <a href="{% url 'users:password_reset' %}">Mot de passe oublié</a>
    </div>
{% endblock bottom %}
