{% extends 'users/base_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Se connecter sur <b>Girls Can Code!</b>
{% endblock %}

{% block form %}
<div class="pt-3">
    {% crispy form %}
</div>
<a class="btn btn-light btn-block mt-2" href="{% url 'oidc_authentication_init' %}">Se connecter (staff)</a>
{% endblock %}

{% block bottom %}
<hr class="col-12 mt-3" />
<div class="col-12 fs-6 mb-3" align="center">
    Je n'ai pas de compte,
    <a href="{% url 'users:register' %}"> s'inscrire </a>
</div>
{% endblock %}
