{% extends 'users/base_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block title %}
    Créer un compte sur <b>Girls Can Code!</b>
{% endblock %}

{% block form %}
    {% crispy form %}
    <div class="fs-6 pt-2 fst-italic">
        Tous les champs sont obligatoires.
    </div>
{% endblock %}

{% block bottom %}
    <hr class="my-2" />
    <div class="fs-6" align="center">
        J'ai déjà un compte,
        <a href="{% url 'users:login' %}"> se connecter </a>
    </div>
    <hr class="my-2" />
    <div class="text-muted fs-footnote" >
        <p>
            Prologin, en tant que responsable de traitement, traite les données
            recueillies sur ce formulaire pour :
        </p>
        <ul>
            <li>
                permettre l'inscription sur le site GCC! et la gestion des
                utilisateurs (<a
                    href="{% url 'pages:privacy_inscription' %}"
                    target="_blank">voir la notice complète</a>),
            </li>
            <li>
                le cas échéant, permettre l'inscription ultérieure à un ou
                plusieurs stages organisés par l'association (<a
                    href="{% url 'pages:privacy_stage' %}"
                    target="_blank">voir la notice complète</a>),
            </li>
            <li>
                le cas échéant, permettre l'inscription à la newsletter Girls
                Can Code! et sa gestion (<a
                    href="{% url 'pages:privacy_newsletter' %}"
                    target="_blank">voir la notice complète</a>).
            </li>
        </ul>
        <p class="fw-lighter">
            Pour en savoir plus sur la gestion de vos données personnelles et
            pour exercer vos droits, consultez les
            <a href="{% url 'pages:privacy' %}" target="_blank">
                notices complètes
            </a>.
        </p>
    </div>
{% endblock %}

{% block scripts %}
  <script
    type="module"
    src="{% static 'js/forms/registration_form.js' %}">
  </script>
{% endblock  %}
