{% extends "gccsite/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/pages/404.css' %}" />
{% endblock head %}

{% block content %}
    <div class="row page-not-found-background m-0">
        <div class="col my-auto content-background col-md-6 offset-md-6">
            <p class="text-center">
                <span class="error-code">404</span>
                <br />
                <span class="error-message">Page introuvable</span>
                <br />
                <span class="light-text">Si vous pensez que ceci est une erreur, envoyez un mail à
                {{ CONTACT_EMAIL }}</span>
            </p>
            <div class="text-center">
                <a href="{% url "events:home" %}">
                    <button class="primary-button">Retour à l'accueil</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
