{% extends 'gccsite/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}" />
{% endblock %}

{% block content %}
<div class="basic-background about-background p-4">
    <div class="pt-4 container-fluid">
        <h1 class="m-4">À propos de Girls Can Code!</h1>
        Les stages Girls Can Code! sont organisés par
        <a href="https://prologin.org">l'association Prologin</a> pour
        les collégiennes et lycéennes pour leur faire découvrir
        l'informatique.

        <div class="row w-100 mt-5 align-items-center">
            <div class="col-lg-4 d-none d-sm-block">
                <img
                    src={% static 'img/girl-class-v3.svg' %}
                    alt="Photo des stages Girls Can Code!"
                    class="img-about img-fluid"
                />
            </div>
            <div class="col">
                <div class="content-background p-4 mx-auto">
                    <h1>Girls Can Code!</h1>
                    Les stages Girls Can Code! sont organisés par
                    l'association Prologin dans le but d'initier les
                    collégiennes et lycéennes à la programmation. Ces
                    stages abordent différents sujets en informatique,
                    tels que le développement web, la robotique, les
                    microcontrôleurs, etc. Les stages sont conçus autour
                    de travaux pratiques pour donner aux participantes
                    une base solide en programmation.<br />
                    L'idée principale de ces stages est de promouvoir la
                    diversité dans le monde de l'informatique, car selon
                    Forbes, en 2021, seulement 23% des professionnels du
                    numérique sont des femmes. C'est pourquoi ces stages
                    offrent une opportunité aux filles d'explorer un
                    domaine qui leur est souvent inconnu.
                </div>
            </div>
        </div>

        <div class="content-background mt-4 p-4 mx-auto">
            <h2>Déroulement</h2>
            Les stages Girls Can Code! ont débuté en 2014, et depuis,
            de nombreux stages ont été organisés chaque année. Pendant
            les stages, des conférences sont organisées pour permettre à
            des intervenantes de parler de leur parcours et de ce
            qu’elles font dans le milieu de informatique. <br />
            De plus, les intervenantes répondent aux questions
            auxquelles les participantes peuvent se poser, que ce soit
            sur les matières et filières à suivre ou des questions plus
            générales sur la programmation.
        </div>

        <div class="row w-100 mt-4 align-items-center">
            <div class="col">
                <div class="content-background p-4 mx-auto">
                    <h2>Encadrement</h2>
                    Les stages sont encadrés par des passionnés et des
                    étudiants en informatique qui accompagent les
                    participantes tout au long de leur découverte. Les
                    participantes ont la possibilité de créer de leurs
                    propres mains et de repartir avec le fruit de leur
                    travail. <br />
                    Ces stages sont une occasion pour les collégiennes
                    et lycéennes de
                    découvrir le monde de l'informatique et d'apprendre les bases de la
                    programmation. Les stages peuvent durer un weekend
                    ou une semaine, et ils sont conçus pour offrir un
                    environnement propice à l'apprentissage et au
                    partage. <br />
                    En plus de développer vos compétences techniques,
                    les participantes pourront également renforcer leur confiance en
                    elles et leur capacité à relever des défis. Les
                    stages Girls Can Code! sont une expérience
                    transformatrice qui peut ouvrir de nombreuses portes
                    pour leur avenir.
                </div>
            </div>

            <div class="col-lg-4 d-none d-sm-block">
                <img
                    src={% static 'img/girl-class-v4.svg' %}
                    alt="Photo des stages Girls Can Code!"
                    class="img-about img-fluid"
                />
            </div>
        </div>

        <div class="content-background mt-4 p-4 mx-auto">
            <h2>Organisation</h2>
            Les stages Girls Can Code! sont organisés par
            l’association Prologin. Elle organise également le
            concours national d'informatique et propose des
            ateliers ainsi que des stages de programmation pour les collégiens
            et les lycéens. L'objectif principal de Prologin est de
            favoriser la diversité dans le monde de l'informatique en
            encourageant les jeunes filles et les jeunes garçons à
            s'initier à la programmation et à explorer les nombreuses
            possibilités qu'offre ce domaine en constante évolution.
        </div>

        <div class="content-background mt-4 p-4 mx-auto">
            Plus d'informations sur
            <a href="https://prologin.org">le site Prologin</a>. Pour
            toute demande, veuillez
            <a href="mailto:{{CONTACT_EMAIL}}">nous contacter</a>.
        </div>
    </div>
</div>
{% endblock %}
