{% extends 'gccsite/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="basic-background">
    <div class="container rounded-3 mx-auto p-3 row-sm-auto m-4 content-background">
        <h1 class="display-3"> Mentions légales </h1>
        <p class="lead">
            Les stages Girls Can Code! sont organisés par l'association
            <a href="https://prologin.org/">Prologin</a>
            pour les jeunes collégiennes et lycéennes pour leur faire
            découvrir l'informatique.
        </p>

        <hr class="my-4" />

        <div class="row">
            <div class="col-sm-auto my-auto">
                <span class="fw-bold">Adresse :</span><br />
                {{ ADDRESS_LINE_1 }}<br />
                {{ ADDRESS_LINE_2 }}<br />
                {{ ADDRESS_LINE_3 }}<br /><br />

                <span class="fw-bold">Téléphone :</span><br />
                {{ CONTACT_PHONE }}<br /><br />

                <span class="fw-bold">E-mail :</span><br />
                {{ CONTACT_EMAIL }}<br /><br />
            </div>
            <div class="col">
                <span class="fw-bold">Statut légal :</span><br />
                Prologin est une association loi de 1901, déclarée à la
                sous-préfecture de L'Hay-les-Roses le 04-08-2000.<br /><br />

                <span class="fw-bold">Directeur de publication :</span><br />
                M. Valentin Seux, Président de Prologin.<br /><br />

                <span class="fw-bold">Hébergement :</span><br />
                Hexaglobe<br />
                171 - 173 rue Saint-Martin<br />
                75003 Paris, FRANCE<br />
                Numéro RCS     Paris B 478 326 754
            </div>
        </div>
    </div>

    <div class="container rounded-3 mx-auto p-3 row-sm-auto m-4 content-background">
        <h2>Utilisés pour le site :</h2>
        <a href="https://storyset.com" class="secondary-button footer-link-style my-auto">
            Illustrations faites avec Storyset
        </a><br>
        <a href="https://fontawesome.com/" class="secondary-button footer-link-style my-auto">
            Icônes importées depuis FontAwesome
        </a>
    </div>
</div>
{% endblock %}
