{% extends 'gccsite/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/legal-notice.css' %}" />
{% endblock %}

{% block content %}
<div class="basic-background">
    <div class="container rounded-3 mx-auto p-auto row-sm-auto m-4 legal-notice-container">
        <h1 class="display-3"> Mentions Légales </h1>
        <p class="lead">
            Les stages Girls Can Code! sont organisés par l'association
            <a href="https://prologin.org/">Prologin</a>
            pour les jeunes collégiennes et lycéennes pour leur faire
            découvrir l'informatique.
        </p>

        <hr class="my-4" />

        <div class="row">
            <div class="col-sm-auto my-auto">
                <span class="light-text">Adresse :</span><br />
                {{ ADDRESS_LINE_1 }}<br />
                {{ ADDRESS_LINE_2 }}<br />
                {{ ADDRESS_LINE_3 }}<br /><br />

                <span class="light-text">Téléphone :</span><br />
                {{ CONTACT_PHONE }}<br /><br />

                <span class="light-text">E-mail :</span><br />
                {{ CONTACT_EMAIL }}<br /><br />
            </div>
            <div class="col">
                <span class="light-text">Statut légal</span><br />
                Prologin est une association loi de 1901, déclarée à la
                sous-préfecture de L'Hay-les-Roses le 04-08-2000.<br /><br />

                <span class="light-text"
                    >Numéro de déclaration CNIL :</span
                ><br />
                {{ CNIL_DECL_NUM }}<br /><br />

                <span class="light-text"
                    >Conformément à l'article 34 de la loi «
                    Informatique et Liberté », vous disposez d'un droit
                    d'accès, de rectification et suppression des données
                    à caractère personnel vous concernant. Pour exercer
                    ce droit, veuillez contacter Prologin en utilisant
                    l'une des méthodes listées sur cette page.</span
                >
            </div>
        </div>
    </div>

    <div class="container rounded-3 mx-auto p-auto row-sm-auto m-4 legal-notice-container">
        <h2>Utilisé pour le site :</h2>
        <a href="https://storyset.com" class="secondary-button footer-link-style my-auto">
            Illustrations fait avec Storyset
        </a><br>
        <a href="https://fontawesome.com/" class="secondary-button footer-link-style my-auto">
            Icones importées depuis FontAwesome
        </a>
    </div>
</div>
{% endblock %}
