{% extends 'gccsite/base.html' %}

{% block content %}
<div class="basic-background">
    <h1 class="text-center m-3">
        {{ TITLE }}
    </h1>
    <div class="container accordion mb-1" role="tablist">
        {% for privacy_elm in PRIVACY_LIST %}
            {% cycle 1 2 3 as color silent %}
            {% include 'pages/partial/AccordionCard.html' with title=privacy_elm.title content=privacy_elm.content index=forloop.counter color=color %}
        {% endfor %}
    </div>
</div>
{% endblock %}
