.tab {
    display: none;
}

.tab.active {
    display: block;
}

dl {
    display: grid;
    grid-template-columns: 33% auto;
}

dt {
    grid-column: 1;
    padding: 10px 0;
}

dd {
    grid-column: 2;
    padding: 10px 0;
}